:root {
  --gradient-bg-start: #fdfbfb;
  --gradient-bg-end: #ebedee;
  --gradient-bg: linear-gradient(180deg, var(--gradient-bg-start) 10%, var(--gradient-bg-end) 100%);
  --gradient-pink: linear-gradient(279deg, #4caf50 0%, #81c784 100%);
  --gradient-header: linear-gradient(-225deg, #e8f5e9 0, #f1f8e9 100%);

  /* shoka migrate */
  --box-bg-shadow: rgba(0, 0, 0, 0.1);
  --grey-1-a5: rgba(253, 253, 253, 0.5);
  --gradient-shoka-button-start: #4caf50;
  --gradient-shoka-button-end: #8bc34a;
  --gradient-shoka-button: linear-gradient(
    to right,
    var(--gradient-shoka-button-start) 0,
    var(--gradient-shoka-button-end) 100%
  );
  --shoka-blue: 122 39% 49%; /* 调整为绿色系 HSL */
  --grey-4: 0 0% 80%;
  --color-pink: #4caf50;
  --color-pink-a3: rgba(76, 175, 80, 0.3);
}

.dark {
  --gradient-bg-start: #1b281b; /* 深绿色背景 */
  --gradient-bg-end: #000;
  --gradient-bg: linear-gradient(180deg, var(--gradient-bg-start) 10%, var(--gradient-bg-end) 100%);
  --gradient-pink: linear-gradient(279deg, #4caf50 0%, #81c784 100%);
  --gradient-header: linear-gradient(-225deg, #1b281b 0, #2e3b2e 100%);

  /* shoka migrate */
  --box-bg-shadow: rgba(0, 0, 0, 0.5);
  --grey-1-a5: rgba(34, 34, 34, 0.5);

  --gradient-shoka-button-start: #4caf50;
  --gradient-shoka-button-end: #8bc34a;
  --gradient-shoka-button: linear-gradient(
    to right,
    var(--gradient-shoka-button-start) 0,
    var(--gradient-shoka-button-end) 100%
  );
  --shoka-blue: 122 39% 49%;
  --grey-4: 0 0% 40%;
  --color-pink: #4caf50;
  --color-pink-a3: rgba(76, 175, 80, 0.3);
}
